<h1>Bonjour ! Confirmation de votre email </h1>

<p>
    Pour confirmer votre adresse mail veuillez cliquer sous le lien juste en dessous : <br><br>
    <a href="{{ signedUrl }}">Confirmer votre adresse mail</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
