{% extends 'base.html.twig' %}

{% block title %}Crédit Classique{% endblock %}

{% block body %}
	<div class="container">
		<h2 class="text-center">Crédit auto classique</h2>
		<p>Vous souhaitez être propriétaire de votre voiture sans attaquer votre épargne ? Avec le crédit Aramisauto, étalez vos mensualités à votre rythme, sans stress.</p>
		<div class="row">
			<div class="col-12 ">
				<img src="{{ '/img/credit.jpg '}}" class="rounded mx-auto d-block  pen " alt="credit">
			</div>
			<div class="col-12 d-flex flex-column align-items-center col-lg-6">
				<h3 class="text-center">Choisissez les garanties associées à votre crédit auto</h3>
				<ul>
					<li>Garantie Prix d’Achat : votre voiture comme au premier jour pendant 5 ans. En cas de pépin, on vous rembourse au prix où vous l'avez achetée !</li>
					<li>Extension de Garantie : finies les dépenses imprévues, votre voiture est protégée pendant toute la durée du financement. Vous pouvez même ajouter la prise en charge de vos révisions !</li>
					<li>Assistance 24h/24 et 7j/7 en Europe : elle couvre tous les aléas, sans franchise kilométrique - et profite même à votre deuxième voiture !</li>
					<li>Garantie Emprunteur : vous êtes protégé en cas de coup dur pour rembourser votre prêt.</li>
				</ul>
			</div>
			<div class="col-12 d-flex flex-column align-items-center col-lg-6">
				<h3 class="text-center">
					formules exclusives conçues pour vous</h3>
				<img src="{{'/img/classique2.png'}}" alt="tableau" class="pen rounded mx-auto d-block ">
				<strong>Rapidité</strong>
				<ul>
					<li>Réponse de principe immédiate sur votre crédit auto par téléphone ou en agence.</li>
				</ul>
				<strong>Attractivité</strong>
				<ul>
					<li>Réponse de principe immédiate sur votre crédit auto par téléphone ou en agence.</li>
					<li>Aucun frais de dossiers</li>
					<li>Des taux fixes négociés avec BNP Paribas Personal Finance – Cetelem</li>
				</ul>
				<strong>Transparence</strong>
				<ul>
					<li>Tarification fixe selon le montant et la durée de votre crédit</li>
				</ul>
				<strong>Flexibilité</strong>
				<ul>
					<li>Modulation à la baisse ou la hausse de vos mensualités en cas de besoin</li>
					<li>Remboursement anticipé sans frais</li>

				</ul>
			</div>
            <div class="col-12 d-flex flex-column align-items-center col-lg-6">
                <h2>Questions les plus fréquentes sur le crédit auto</h2>
                <h3>Quel taux proposez-vous ?</h3>
                <p>Chez Aramisauto, nous négocions constamment les taux de crédit auto auprès de notre partenaire Cetelem (BNP Paribas Personal Finance) pour vous proposer les meilleures conditions d'emprunt possibles. Le taux du crédit dépend de la voiture achetée et des critères de simulation que vous avez choisis (durée, montant emprunté, etc.)</p>
                <p>Mais un taux d'emprunt ne fait pas tout ! Savez-vous qu'un taux annuel effectif global (TAEG) 1% plus cher sur 10 000 € empruntés pendant 48 mois n'augmente vos mensualités... que de 5 € ?</p>
                <p>Chez Aramisauto, nous considérons qu'un crédit auto moins cher, c'est avant tout un crédit auto intelligent. Ainsi, nous vous proposons des garanties exclusives associées à votre offre de crédit auto qui vous protègent pendant toute la durée du prêt.</p>
                <p>Avec la Garantie Prix d'Achat, votre voiture est comme au 1er jour pendant 5 ans ! Avec l'Extension de Garantie, vous évitez les dépenses imprévues liées aux pannes.</p>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column align-items-center ">
                 <h3>Comment obtenir un prêt auto chez Aramisauto ?</h3>
            <p>C'est très simple !</p>
            <p>Vous effectuez vous-même une simulation de crédit auto pour financer l’achat de votre voiture neuve ou d’occasion avec notre simulateur auto en ligne. Vous choisissez vos critères de calcul en fonction de vos besoins : mensualité, durée d'emprunt, avec ou sans apport.</p>
            <p>Ensuite votre conseiller commercial s'occupe de tout et vous obtenez une réponse de principe immédiate pour votre crédit auto. C'est gratuit et sans engagement.</p>
            <p>Et pour ne pas perdre de temps et obtenir dès la commande de votre voiture une offre de crédit auto pas cher, il vous suffit de nous envoyer par courrier ou par email la copie des pièces justificatives suivantes, ou tout simplement de venir en agence avec :</p>
            <ul>
                <li>Un justificatif d'identité : carte nationale d'identité ou passeport</li>
                <li>Vos 3 derniers bulletins de salaire</li>
                <li>Votre dernier avis d'imposition (IRPP complet : 4 pages minimum)</li>
                <li>Votre RIB</li>
                <li>Un justificatif de domicile de moins de 3 mois</li>
            </ul>
                <p>Et le tour est joué !</p>
            
            
            </div>
               
            
                 
            <div class="col-12 d-flex flex-column align-items-center ">
                <h3>Comment faites-vous le calcul de mon crédit auto ?</h3>
                <p>Notre partenaire de confiance Cetelem (BNP Paris Personal Finance) nous communique toutes les informations nécessaires pour vous proposer une offre de crédit adaptée à vos besoins.</p>
                <p></p>
            </div>


		</div>
	</div>
{% endblock %}
