
.titre{
    margin: 10px;
}

#depano{
    margin: 30px auto;
    text-align: center;
}

.bas{
    margin-top: 30px;
}





#gauche > img, #droite >img{
    width: 100%;
    border-radius: 3px;
}

#droite > a, #gauche > a{
    margin: 40px auto;
    display: block;
    width: 45%;
    margin-bottom: 30px;
    border-radius: 6px;
    padding: 20px;
    color: #fff;
}

#gauche > a{
    background-color: #00142f;
    
}

#droite > a{
    background-color: #0d6efd;

}

#bg{
    text-align: center;
    margin: 0px auto;
    margin-bottom: 30px;
    width: 50%;
    background-color: rgb(243, 240, 240);
    padding: 20px;
}

#bg > p{
    border-radius: 6px;
    background-color: #fff;
    padding: 6px;
}







