*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(231, 227, 227);
    font-family: 'Lato', sans-serif;

}

h1, h2, h3{
    font-family: 'Quicksand', sans-serif;

}

.container{
    background-color: #fff;
    padding-right: 0px;
    padding-left: 0px;
}

#filtre{
    margin: 30px 0px 20px 0px;
}
h3{
    color: #00142f;
}

a{
    text-decoration: none;
    list-style-type: none;
    color: black;
}



/* mettre une boite à droite et l'autre à gauche */
#conte, #conte1{
    display: flex;
}

#conte > a, #conte1 > a{
    text-align: center;
    color: #fff;
    border-radius: 3px;
    padding: 10px;
    background-color: #0c2546;
    margin: 1px;
}

#conte > a:hover, #conte1 > a:hover{
    color: #039be5;
}


.vali > a{
    /* width: 100px; */
    text-align: center;
    border-radius: 3px;
    padding: 10px;
    background-color: #0d6efd;
    color: #fff;
}

.vali > a:hover{
    color: #00142f;
}

.vali{
    margin-top: 4px;
    display: flex;
    justify-content: end;
}
  







.slide{
    margin: 0px auto;
    width: 90%;
    /* margin-bottom: 60px; */
}


.tete{
    text-align: center;
    margin: 0px 20px 20px 20px;
    border-bottom: 1px solid rgb(214, 214, 214);
    border-top: 1px solid rgb(214, 214, 214);
    padding: 20px 60px 20px 60px;
}

.tete > h2{
    color: #0c2546;
    padding-bottom: 10px;
    font-weight: bold;
}

.span{
    color: #0d6efd;
}









.coh2{
    text-align: center;
    /* font-weight: bold; */
    color: #fff;
    margin: 30px 0px 40px 0px;
    background-color: #0c2546;
    padding: 4px 4px;
}

#coeur{
    margin-bottom: 20px;
}

figcaption{
    border-radius: 3px;
    box-shadow: 0px 1px 1px 1px gray;
    text-align: center;
    /* padding: 30px 0px 30px 0px; */
}

figcaption > p{
    margin-top: 7px;
    font-weight: bold;
    font-size: 22px;
}

figcaption > a{
    margin: 16px auto;
    width: 30%;
    display: block;
    color: #fff;
    border-radius: 3px;
    padding: 10px;
    background-color: #0c2546;
}

.fig > img{
    width: 60%;
    border-radius: 5px;
}











#fot{
    background-color: #00142f;
    /* padding: 50px 25px 40px 25px; */
    padding: 30px 0px 10px 0px;
}

footer > .row{
    margin-right: 0px;
    margin-left: 0px;
}

#fot > div > a{
    color: white;
    display: block;
    margin-bottom: 12px;
}

#fot-a{
    background-color: black;
    color: #fff;
    /* padding: 20px 10px 10px 10px; */
    padding: 10px 10px 0px 10px;
}



















