{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    {% include 'research/_filter.html.twig' with {form: form} only %}

    <div class="container">
        <div>
            {% for car in cars %}
                {% include 'research/_card.html.twig' with {car: car} only %}
            {% endfor %}
        </div>
    </div>

    <div>
        {{ knp_pagination_render(cars) }}    
    </div>


{% endblock %}
