{% extends 'base.html.twig' %}

{% block title %}Résultats de votre recherche{% endblock %}

{% block body %}



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sticky-top mt-3">
                {% include 'research/_filter.html.twig' with {form: form} only %}
            </div>

        
            <div class="col-md-9">
                {% for car in cars %}
                    {% include 'research/_card.html.twig' with {car: car} only %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div>
        {{ knp_pagination_render(cars) }}    
    </div>


{% endblock %}
