{% extends 'base.html.twig' %}

{% block title %}Hello RentalPurchaseController!{% endblock %}

{% block body %}
    <div class="container">
        <h2>La LOA et le Leasing chez Automoinscheres</h2>
        <p>La location avec option d'achat (souvent appelée LOA ou leasing) est un financement avec ou sans apport.</p>
            <img src="{{' /img/location.jpg'}}" alt="paysage" class="img-fluid">
            <p>Les taux d’emprunt étant à la hausse, la LOA devient une alternative très intéressante au crédit auto classique pour acquérir un nouveau véhicule. Si vous souhaitez changer de voiture régulièrement, il s’agit même de la solution idéale !</p>
            <p>Avec Aramisauto, optimisez votre budget auto de A à Z : bénéficiez de tarifs négociés et de mensualités adaptées à l’utilisation de votre voiture et à votre budget !</p>
            <h2>Quels sont les avantages de la LOA ?</h2>
            <div class="row">
                <div class="col">
                    <ul>
                        <li>Quels sont les avantages de la LOA ?</li>
                    </ul>
                    <p>La LOA étant avant tout de la location de voitures, vous payez l’usage de la voiture, mais pas la propriété. Par rapport à un financement traditionnel de crédit auto, son coût est plus faible, car l’option d’achat fixée au départ n’est pas comprise dans le montant total à financer. Ce type de location de voiture moins chère permet aux particuliers n’ayant pas une grande capacité d’emprunt de disposer tout de même d’un véhicule récent. Les mensualités de la location de voiture avec option d’achat sont clairement déterminées au moment de la signature du contrat de location. Elles resteront fixes tout au long de la période de cette location longue durée.</p>
                </div>
                <ul>
                <li>Valeur de reprise garantie pour la vente de votre voiture en LOA</li>
                </ul>
                <p>Si, à la fin du contrat de location, vous optez pour vendre votre bien à un particulier ou un professionnel, avec Aramisauto, vous bénéficierez d’une valeur de reprise garantie. Ainsi, vous ne perdez plus d’argent à la revente. Vous pourrez alors utiliser la possible plus-value réalisée comme apport pour acheter un nouveau véhicule.</p>
                <ul>
                    <li>Changez de voiture facilement !</li>
                    <p>A l’issue du contrat de location de votre voiture en leasing, vous pouvez la restituer à l’établissement propriétaire, sans frais supplémentaire. Vous êtes ensuite libre de souscrire une nouvelle location de voiture avec option d’achat. Profitez ainsi de modèles plus récents ou "montez en gamme".</p>
                </ul>
                <ul>
                    <li>Obtenir une voiture en LOA avec ou sans apport</li>
                </ul>
                <p>C'est vous qui choisissez ! Même sans apport, il est possible de louer une voiture avec des mensualités compétitives. Sachez que chez Aramisauto, vous pouvez profiter des meilleures offres de location de voiture sans dépôt de garantie. Tout savoir sur la LOA avec ou sans apport.</p>
                <ul>
                    <li>Un contrat flexible et personnalisé</li>
                </ul>
                <p>Vous ajustez la durée et le kilométrage annuel en fonction de vos besoins. La durée de cette formule de location varie entre 24 et 72 mois, et fixe le montant des loyers à payer pour votre voiture en LOA. Vous pouvez aussi choisir d’y inclure des prestations complémentaires, notamment l’entretien de votre voiture louée, ainsi qu’une extension de garantie.</p>
                <ul>
                    <li>Notre formule exclusive LOA SERENIS</li>
                </ul>
                <p>C’est la solution "tout compris" pour éviter les imprévus : garantie prix d’achat, garantie emprunteur, extension de garantie et entretien inclus, sans oublier la valeur de reprise garantie.</p>
           </div>




{% endblock %}
