{% extends 'base.html.twig' %}

{% block title %}Vente  voitures
{% endblock %}

{% block body %}


	<div class="container">
		<h1>Comment acheter un véhicule d'occasion ?</h1>
		<p>Bien acheter un véhicule d'occasion, ne s'improvise pas ! Avant tout, sélectionnez l'annonce qui propose réellement le véhicule dont vous avez besoin (ou dont vous rêvez) et préparez votre achat avec méthode. Suivez nos quelques conseils avant d'entreprendre votre achat.</p>
		<div class="row">
			<div class="col">
				<div class="accordion" id="accordionExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								1 : Acheter à un professionnel ou un particulier ?
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<p>Achat d'un véhicule d'occasion auprès d'un professionnel : les contrôles préalables à la vente et les réparations éventuelles sont faites par le professionnel. Le professionnel se doit de vous remettre une garantie vice caché. Vous aurez alors 12 mois pour tenir le professionnel responsable d'un défaut éventuel sur le véhicule. Un avantage certes, mais attention les prix des véhicules d'occasion chez les professionnels sont un peu plus élevés que ceux des particuliers. Vous pouvez vous référer à la côte de la centrale pour déterminer le prix juste de votre véhicule.</p>
								<p>Achat d'un véhicule d'occasion auprès d'un particulier : l'avantage d'acheter auprès d'un particulier est indéniablement le prix ! Cependant vous ne disposez d'aucune garantie si le véhicule présente un problème ou une défaillance après l'achat, vous devrez trouver à l'amiable une solution qui convienne aux deux parties.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingTwo">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								2 : Comment se préparer pour l'achat de votre voiture d'occasion ?

							</button>
						</h2>
						<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<p>Il est primordial d'organiser une rencontre physique avec le vendeur, pour essayer le véhicule. Tourner autour ne suffit pas ! Prenez un rendez-vous dans un endroit bien précis et fréquenté. N'hésitez pas à confirmer l'identité de la personne que vous rencontrez. Bien choisir le moment : toujours de jour, y compris en hiver, pour que la pénombre ou la nuit n'occulte aucun défaut de la carrosserie ou de l'habitacle.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingThree">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								3: Peut-on essayer une voiture avant l'achat et comment vérifier l'essentiel ?
							</button>
						</h2>
						<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<p></p>
								<p>Munissez-vous de votre propre stylo et demandez également à l’acheteur potentiel d’utiliser son propre stylo pour signer les documents de la vente et rayer la carte grise.</p>
							</p>
							<p>Lavez-vous bien les mains suite à la manipulation des documents de vente et du chèque de banque.</p>
							<p>- Vérifiez l'état général du véhicule :</p>
							<p>Les nuances de peinture peuvent être des signes de rénovations récentes ; les ouvrants doivent fonctionner sans résistance (portes, vitres électriques, fermeture centralisée) ; le kilométrage inscrit sur l'étiquette de vidange collée sur le carter d'huile, sur l'intérieur de porte ou sur le livret d'entretien doit être inférieur à celui du compteur. Assurez-vous de la présence de la roue de secours et d'une usure égale des quatre pneumatiques.</p>
							<p>- Assurez-vous du bon fonctionnement :</p>
							<p>Vérifiez les équipements du véhicule (sièges, climatisation, vitres électriques, phares, essuie-glaces, etc) et les accessoires et équipements spéciaux (autoradio, sièges supplémentaires, barres de toit, siège bébé, pneus hiver, etc)</p>
							<a href="https://www.lacentrale.fr/images/lc_fr/check-list_acheteur.pdf" target="_blank">
								<button type="button" class="btn btn-primary">La check-list de visite</button>
							</a>

						</div>
					</div>
                    <div class="accordion-item">
						<h2 class="accordion-header" id="headingThree">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								4: Quels sont les papiers à fournir pour l'achat d'un véhicule ? ?
							</button>
						</h2>
						<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<p>Si vous êtes décidé à acheter, n'oubliez pas les formalités administratives. Demandez la carte grise au vendeur et vérifiez :</p>
                                <ul>
                                <li>- la conformité du véhicule avec la carte grise (n° d'immatriculation notamment)</li>
                                <li>- la conformité du véhicule avec le descriptif de l'annonce.Demandez le procès-verbal de contrôle technique (véhicules de plus de quatre ans), le carnet d'entretien et/ou les factures. Vérifiez les dates et kilométrages de remplacement de la courroie de distribution si ce dernier a été effectué.</li>
                                </ul>
							</a>

						</div>
					</div>
                    <div class="accordion-item">
						<h2 class="accordion-header" id="headingThree">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								5: Quelles sont les erreurs à ne pas commettre après l'achat ?

							</button>
						</h2>
						<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
							<div class="accordion-body">
                                <p>Surtout ne conduisez pas le véhicule que vous venez d'acquérir sans être assuré ! L'opération peut être faite par simple coup de téléphone à votre assureur en fournissant les éléments de la carte grise, la nature de l'utilisation, le lieu de garage, la date souhaitée de la prise d'effet du contrat. La signature du contrat peut avoir lieu a posteriori.</p>

						</div>
					</div>
                    <div class="accordion-item">
						<h2 class="accordion-header" id="headingThree">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								6: Quelles démarches réaliser après l'achat ?
							</button>
						</h2>
						<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<p>- Assurez votre véhicule d'occasion. Par un simple appel à votre assureur vous pouvez mettre à jour votre assurance. Fournissez simplement les informations de la carte grise, la nature de l'utilisation, le lieu de garage, la date souhaitée de la prise d'effet du contrat. La signature du contrat peut avoir lieu a posteriori. - Immatriculez votre véhicule. Adressez par courrier à la préfecture la partie haute de la carte grise du véhicule, annotée de "vendu le..." par le vendeur, dans les 30 jours qui suivent l'achat de votre véhicule d'occasion. Le certificat d'immatriculation peut se remplir en ligne.</p>
                                <a href="https://immatriculation.ants.gouv.fr/"><button type="button" class="btn btn-primary">Le certificat d'immatriculation</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>{% endblock %}
