{% extends 'base.html.twig' %}

{% block title %}Vendre{% endblock %}



{% block body %}

	<div class="container">
		<h1 class="text-center">Vendre sa voiture</h1>
		<div class="row gx-1">
			<div class="col-12 d-flex flex-column align-items-center col-lg-6">
				<img src="{{ 'img/key.jpg' }}" alt="clé de voiture" class="d-none d-lg-block">
				<h2 class="text-center">Vendre vous-même sur Autosmoinscheres</h2>
				<button type="button" class="btn btn-info m-2">Déposer une annonce</button>
				<div>
					<ul class="m-3 bg-light">
						<li>Gratuit pour tous les véhicules</li>
						<li>Une visibilité maximale de votre annonce</li>
						<li>Tout compris : modifications gratuites</li>
					</ul>
				</div>

			</div>
			<div class="col-12 d-flex flex-column align-items-center col-lg-6" >
				<img src="{{ 'img/negocier.jpg' }}" alt="poignée de main" class="d-none d-lg-block">
				<h2>Vendre a titre professionnel</h2>
				<button type="button" class="btn btn-info m-2">Déposer une annonce professionnel</button>
				<ul class="m-3 bg-light">
					<li>visibilité accrue de vos véhicules</li>
					<li>Pas de visites à organiser avec des acheteurs potentiels</li>
					<li>Une vente en 1 rendez-vous et sans formalités administratives</li>
				</ul>
			</div>
            <article>
                <div class="row ">
                    <div class="col-12 d-flex justify-content-center">
                        <h2>les engagements de Automoinscheres</h2>
                    </div>
                     <div class="col-12 d-flex justify-content-center">
                        <i class="bi bi-shield-fill icons"></i>
                     </div>
                     <div class="col-12 col-12 d-flex justify-content-center text-center">
                        <p>Bouclier anti-fraude La Centrale
Données personnelles 100% protégées : vos nom, adresse et email ne sont jamais affichés sur le site. Votre numéro de téléphone est remplacé par un numéro Sécuritel qui redirige les appels sur votre téléphone.</p>
                     </div>
                        <div class="col-12 col-12 d-flex justify-content-center">
                        <i class="bi bi-exclamation-triangle-fill icons"></i>
                     </div>
                     <div class="col-12 col-12 d-flex justify-content-center text-center">
                        <p>Annonces enrichies : les données techniques (consommation, chevaux, dimensions...) de votre véhicule et un rapport de son historique (changement de propriétaires, contrôles techniques) seront automatiquement ajoutés à votre annonce.</p>
                     </div>
                     <div class="col-12 d-flex justify-content-center">
                        <i class="bi bi-eye-fill icons"></i>
                     </div>
                       <div class="col-12 col-12 d-flex justify-content-center text-center">
                        <p>Tout est compris dans le forfait : publication de votre annonce jusqu'à la vente*, modifications gratuites et illimitées, jusqu'à 50 photos sur votre annonce, protection de votre numéro de téléphone (Sécuritel).
                        Gratuit pour tous les véhicules A renouveler gratuitement tous les 30 jours, pour confirmer que votre véhicule est toujours à vendre.</p>
						<br>
                     </div>
						<p class="text-center fst-italic">A renouveler gratuitement tous les 30 jours, pour confirmer que votre véhicule est toujours à vendre.</p>

                </div>
                
            
            </article>

		</div>
	{% endblock %}
